* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #474747;
}

button {
  -webkit-appearance: none;
  -moz-appearnce: none;
  appearance: none;
}

.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  color: #333;
}

.well {
  background-color: #FFF;
  border-radius: 12px;
  padding: 32px;
  min-width: 320px;
  max-width: 600px;
  flex-grow: 1;
  max-height: 95vh;
  overflow-y: auto;
}

h2 {
  margin: 0px;
  margin-bottom: 18px;
  border-bottom: 1px solid #333;
  padding-bottom: 8px;
}

p {
  font-size: 13px;
}

a:link, a:active, a:visited {
  color: #022F78;
  display: inline-block;
  text-decoration: none;
}

a:hover {
  color: #000814;
}

.errors {
  list-style: none;
  margin: 18px 0px;
  padding: 0px;
  background-color: #F1D0D3;
  color: #8D2A32;
}

.errors li {
  padding: 6px 8px;
}

.form-group {
  margin-bottom: 28px;
}

.form-group label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-group input, .form-group select {
  display: block;
  width: 100%;
  height: 38px;
  border: 1px solid #CED4DA;
  font-size: 16px;
  padding: 4px 8px;
}

.form-group input[type="checkbox"] {
  height: unset;
  padding: unset;
  width: unset;
  margin: 0px 12px;
}

.form-group label.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin-right: 12px;
}

.form-group input:focus, .form-group select:focus {
  border: 2px solid #888;
  outline: 0;
}

.button-wrapper {
  text-align: right;
  margin: 18px 0px;
}

.btn {
  border-radius: 4px;
  padding: 7px 18px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  background-color: #F2F2F2;
  border: 1px solid #aaa;
  height: 38px;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary, a.btn-primary, a.btn-primary:active, a.btn-primary:focus {
  background-color: #AD343E;
  color: #FFF;
  border-color: #8D2A32;
}

.btn-primary:hover, a.btn-primary:hover {
  background-color: #8D2A32;
}

.btn-secondary, a.btn-secondary, a.btn-secondary:active, a.btn-secondary:focus {
  background-color: #DDD;
  color: #333;
}

.btn-secondary:hover, a.btn-secondary:hover {
  background-color: #CCC;
}